# Misc R Stuff
.RData
.Rhistory

# Environment
.DS_Store

# RMarkdown cache files
**/*cache*
**/*_files

# Emacs files being worked on
*~

# Checkpoint stuff
**/.ipynb_checkpoints

# ignore temp output data
.idea/
/data/output*
**/.ipynb
/models/STAT685-001-*
/models/STAT685-002-*
/models/STAT685-004-*
